{% extends 'layout/base.html' %}

{% block content %}
    <div class="row">
        <div class="col-lg-6">
            <form class="form-horizontal" role="form" method="POST" >
                <fieldset>
                    <legend>Deposit</legend>
                    <div class="form-group">
                        <label for="acc-no" class="col-lg-4 control-label">Account number</label>
                        <div class="col-lg-6">
                            <input type="text"  class="form-control" id="acc-no"  name="acc-no" >
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="vouchers" class="col-lg-4 control-label">Voucher(s)</label>
                        <div class="col-lg-6">
                            <textarea placeholder="Type comma separated voucher numbers eg. 1234, FFFF,..." class="form-control" rows="4" id="vouchers"  name="vouchers" ></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-offset-4 col-lg-6">
                            <button type="submit" class="btn btn-primary" id='deposit-btn' >Deposit</button>
                            <button type="reset" class="btn btn-primary" id='cancel-btn' >Cancel</button>
                        </div>
                    </div>
                </fieldset>
            </form>

        </div>
        <div class="col-lg-4">
            <div  style="margin-top: 50px" id = "msgs">

            </div>
        </div>

    </div>

{% endblock %}

{% block scripts %}
    {{ block.super }}
    <script type="text/javascript">
        $(document).ready(
                function()
                {
                    {% if error == 'true' %}
                    $('#msgs').toggleClass('alert alert-warning');

                    $('#msgs').html('{{ error_message}}');
                    setTimeout(function()
                            {
                                $('#msgs').html('');
                                $('#msgs').toggleClass('alert alert-warning')
                            }
                            ,20000);
                    {% endif %}
                }
        );

    </script>
{% endblock %}