body
{
    background-color: rgba(139, 146, 143, 0.55);
    color: #ebe1e3;
    background-image: url("./images/bg.jpg");
}



section
{
    margin-top: 20px;
}

legend
{
    color: #ebe1e3;
}
.well legend
{
    color: #000000;
}

.thumbnail img
{
    height: 150px;
}

.voucher
{
    height: 150px;
}

textarea{
    resize: none;
}


footer{
    position: inherit;
    height: 65px;
    bottom: 0;
    width: 100%;
}

.breadcrumb{
    background: transparent;
}
.breadcrumb a{
    color: #f5d553;
    font-size: 20px;
    font-family: DejaVu Sans;
    font-weight:  900;
}

