{% extends 'layout/base.html' %}
{% load staticfiles %}

{% block content %}
    <div class="row">
        <div class="col-lg-12">
            <div class="thumbnail col-lg-2 col-lg-offset-2" >
                <img src="{% static "img/add-user-img.jpg" %}" >
                <div class="caption" >
                    Add Member
                </div>
            </div>
            <a href="{% url 'payment-system' %}" >
            <div class="thumbnail col-lg-2 col-lg-offset-1">
                <img src="{% static "img/deposit.jpg" %}" >
                <div class="caption">
                    Deposit
                </div>
            </div>
            </a>
            <a href="{% url 'funds-balance' %}" >
                <div class="thumbnail col-lg-2   col-lg-offset-1">
                    <img src="{% static "img/balance.jpg" %}"  >
                    <div class="caption">
                        Balance
                    </div>
                </div>
            </a>
        </div>
    </div>

{% endblock %}