{% extends 'layout/base.html' %}
{% load staticfiles %}

{% block content %}
    <div class="row">
        <div class="col-lg-12">
            <div class="thumbnail col-lg-2 col-lg-offset-2" >
                <img src="{% static "img/add-user-img.jpg" %}" >
                <div class="caption" >
                    Add Member
                </div>
            </div>

            <a href="{% url 'payment-system' %}" >
                <div class="thumbnail col-lg-2 col-lg-offset-1">
                    <img src="{% static "img/deposit.jpg" %}" >
                    <div class="caption">
                        Deposit
                    </div>
                </div>
            </a>
            <a href="{% url 'funds-balance' %}" >
                <div class="thumbnail col-lg-2 col-lg-offset-1">
                    <img src="{% static "img/balance.jpg" %}"  >
                    <div class="caption">
                        Balance
                    </div>
                </div>
            </a>

        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <a href="{% url 'send-notifications' %}">
                <div class="thumbnail col-lg-2 col-lg-offset-2" >
                    <img src="{% static "img/notify.png" %}" >
                    <div class="caption" >
                        Send Notifications
                    </div>
                </div>
            </a>
            <a href="{% url 'vouchers' %}" >
                <div class="thumbnail col-lg-2 col-lg-offset-1">
                    <img src="{% static "img/print.ico" %}" >
                    <div class="caption">
                        Print Vouchers
                    </div>
                </div>
            </a>
            <div class="thumbnail col-lg-2 col-lg-offset-1">
                <img src="{% static "img/graph.jpg" %}" >
                <div class="caption">
                    View Statistics
                </div>
            </div>
        </div>
    </div>
{% endblock %}