{% extends 'layout/base.html' %}
{% load staticfiles %}
{% block content %}
    <div class="row">
        <div class="col-lg-6">
            <form role="form" class="form-horizontal" style="margin-top: 20px">
                <div class="form-group">
                    <div class="col-lg-3">
                        <input type="email" placeholder="Email" class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-lg-5">
                        <input type="text" placeholder="Subject" class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-lg-10">
                        <textarea class="form-control" rows="10" placeholder="Message"  ></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-lg-5">
                        <button type="submit" class="btn btn-primary" id='login-btn' >Send</button>
                        <button type="reset" class="btn btn-primary" id='cancel-btn' >Cancel</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-lg-3" style="height: 340px">
            <div class="row">
                <div class="panel panel-primary">
                    <div class="panel-heading"><b>Address</b><span class="glyphicon glyphicon-envelope"></span></div>
                    <div class="panel-body" style="color: #000000">
                        Vive susu inc,<br>
                        P.O. Box 403,<br>
                        Mamprobi-Accra<br>
                        <hr>
                        <b>email:</b> dakbill@yahoo.com
                    </div>

                </div>
            </div>
        </div>


    </div>
{% endblock %}
